doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 Iniciar Sesión en UpTask 

            if error 
                p.alerta.error= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo 
                    label(for="email") E-mail: 
                    input(type="text" name="email" placeholder="Tu E-mail" value= email)
                .campo 
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Tu Password" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo 
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis
