extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}


        //TODO - Formulario aquí

        //TODO - Listado de Pendientes

        //pre= vardump(proyecto)

        //Acciones que se puede realizar
        .contenedor-acciones 
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(type="button" class="boton eliminar") Eliminar Proyecto 
