html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restablecer Password 
        p Hola, has solicitado restablecer tu password, haz click en el siguiente enlace para restablecerlo, este enlace es temporal, asi que si vence, vuelve a solicitarlo
        a(href=`${resetUrl}`) Ir a Restablecer Password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puede ignorarlo